
#wrapper {
    background-color:#00FFFF; url("images/img02.png") repeat scroll 0 0;
    overflow: hidden;
    padding: 0 0 50px;
}


#logo h1 a {
    color: #ffffff;
    display: block;
    font-family: "Oswald",sans-serif;
    font-size: 44pt;
    font-weight: 200;
    letter-spacing: -1px;
    padding: 30px 0 0;
    text-align: center;
    text-decoration: none;
    text-shadow: -1px -1px 0 #2c7485;
    text-transform: uppercase;
}
a {
    color: #00FFFF;
}